label.checkbox span.holder {
    height: 60px;
    width: 30px;
    background: url(../images/checkbox.png) 0 0px no-repeat
}

label.radio span.holder {
    height: 50px;
    width: 25px;
    background: url(../images/Radio_c.png) 0 0px no-repeat
}

label.checkbox:hover span.holder {
    top: 0px !important;
}

label.radio span.holder {
    top: 0px !important;
}

label.radio:hover span.holder {
    top: 0px !important;
}

label.checked span.holder,
label.checked:hover span.holder {
    top: -26px !important;
}

label.list {
    float: left;
    clear: left;
    margin: 0 0 5px 0
}

label.inline {
    float: left;
    margin: 0 10px 0 0
}

input.hiddenCheckbox {
    position: absolute;
    left: -10000px
}

label.prettyCheckbox span.holderWrap {
    display: block;
    float: left;
    position: relative;
    margin-right: 10px;
    overflow: hidden;
    width: 30px;
}

label.prettyCheckbox span.holder {
    display: block;
    position: absolute;
    top: 0;
    left: 0
}

label.checkbox span.holderWrap {
    top: -3px;
}

label.radio span.holderWrap {
    top: 2px;
}